<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<dt class="bookHeadline">
    <span th:text="${book.title}">Title</span> by
    <span th:text="${book.author}">Author</span>
    (ISBN: <span th:text="${book.isbn}">ISBN</span>)
</dt>
<dd class="bookDescription">
          <span th:if="${book.description}"
                th:text="${book.description}">Description</span>
    <span th:if="${book.description eq null}">
                No description available</span>
</dd>
</body>
</html>